name: Deploy
 
on:
  push:
    branches:    
    - main 

  workflow_dispatch:


env:
  AWS_REGION: us-west-2

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js 16.x
      uses: actions/setup-node@v3.4.1
      with:
        node-version: 16.x
        check-latest: true
        cache: yarn
        cache-dependency-path: |
          app/yarn.lock
          infra/yarn.lock

    - name: Update npm
      run: sudo npm -g upgrade

    - name: Install aws-cdk
      run: sudo yarn global add yarn aws-cdk

    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - uses: actions/cache@v3
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Build (app)
      working-directory: app
      run: yarn install && yarn lint && rm -rf out .next && yarn release && yarn test && rm -rf out .next
  
    - name: Build (infra)
      working-directory: infra
      run: yarn install; rm -rf build && yarn build

    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
        role-session-name: GitHubActions
        aws-region: ${{ env.AWS_REGION }}

    - name: Deploy
      working-directory: infra
      run: cdk deploy -c env=dev
